# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.spec
*.egg-info/

# Локальные файлы проекта
am_victims.txt
am_terminal.log

# Виртуальное окружение
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp

# Ollama installer (если остался)
OllamaSetup.exe